extends ../../layouts/default

block head
  title Players

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  div.row
    div.col-sm-12
      div.page-header
        h1 #{__('Players')}
