extends ../layouts/default
script(src='/javascripts/GameClient.js')


block head
  title OpenXum

block neck
  link(rel='stylesheet', href='/views/index.min.css?#{cacheBreaker}')

block body
  script(src='/javascripts/InfoClient.js')
  script(language='javascript').
      var client = new InfoClient();
      client.start();
  div.row
    div.col-sm-10
      div.page-header
        h1 Welcome to OpenXum
      div.row
        div.col-sm-3
          div.well.stat
            div.stat-value #{countUser}
            div.stat-label Utilisateurs
        div.col-sm-3
          div.well.stat
            div.stat-value #{countGameType}
            div.stat-label Jeux proposés
        div.col-sm-3
          div.well.stat
            div.stat-value #{countGame}
            div.stat-label Parties en cours	
        div.col-sm-3
          div.well.stat
            #countPlayers.stat-value ---
            div.stat-label Joueurs en ligne   			
    
